* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

body {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}
